<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
      .img-container {
        text-align: center;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="/static/css/template.css">
  </head>
  <body style = "background-color: #F8B3D6; color:#0d98ba">



    {% block content %}


<div class="row">
  <div class="column">
    <img src="{{ url_for('static', filename='images/trump.gif') }}" class="image spin">
  </div>
  <div class="column">
    <img src="{{ url_for('static', filename='images/obama.gif') }}" class="image spinback">
  </div>
  <div class="column">
    <img src="{{ url_for('static', filename='images/musk.gif') }}" class="image spin">
  </div>
</div>

<div>
  <h1 class="talklike center"> Don't you want to talk like </h1>
</div>

<div class="center">
  <div class="abitdown">
    <img src="{{ url_for('static', filename='images/rightarrow_nobg.png') }}" class="arrow moveright" vertical-align: baseline />

    <div class="dropdown" vertical-align: baseline>
      <button class="dropbtn"></button>
      <div class="dropdown-content">
        <a href="{{ url_for('formal', style='trump') }}")>Donald Trump</a>
        <a href="{{ url_for('formal', style='obama') }}">Barack Obama</a>
        <a href="{{ url_for('formal', style='musk') }}">Elon Musk</a>
      </div>
    </div>

    <img src="{{ url_for('static', filename='images/leftarrow_nobg.png') }}" class="arrow moveleft" vertical-align: baseline />
  </div>
</div>

<div class="made2morph">
  <img src = "{{ url_for('static', filename='images/m2m.png') }}" class = "center" />
</div>

  {% endblock %}

</body>

</html>
