<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
      .img-container {
        text-align: center;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="/static/css/template.css">
  </head>
  <body style = "background-color: #F8B3D6; color:#0d98ba">



    {% block content %}


<div class="row">
  <div class="column">
    <img src="/static/trump.gif" class="image spin">
  </div>
  <div class="column">
    <img src="/static/obama.gif" class="image spinback">
  </div>
  <div class="column">
    <img src="/static/musk.gif" class="image spin">
  </div>
</div>

<div>
  <h1 class="talklike center"> Don't you want to talk like </h1>
</div>

<div class="center" display: table>
  <img src="/static/rightarrow_nobg.png" class="arrow moveright" vertical-align: baseline />

  <div class="dropdown" vertical-align: baseline>
    <button class="dropbtn"></button>
    <div class="dropdown-content">
      <a href="#">Donald Trump</a>
      <a href="#">Barack Obama</a>
      <a href="#">Elon Musk</a>
    </div>
  </div>

  <img src="/static/leftarrow_nobg.png" class="arrow moveleft" vertical-align: baseline />

</div>

<div class="made2morph">
  <img src = "/static/m2m.png" class = "center" />
</div>

  {% endblock %}

</body>

</html>
