<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/google-translate.css') }}">
 
<nav class="navbar navbar-default">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"> <img src="{{ url_for('static', filename='morph.png') }}" height = 80px alt="Morph"></a>
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      </ul>
    </li>
    </ul>
  </div>
  </div>
</nav>

<style>
	#myContainerIvanIsCool {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		font-family: Georgia;

	}

	#convert-button {
		margin: 20px;
	}

	.text-input {
		border-radius: 4px;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
		border: 1px solid #ccc;
		text-align: center;
	}

	#menu-container {
		height: 50px;
	}

	#changeMenuRight {
		float: right;
		font-family: Georgia;
		/*display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;*/
	}
</style>
<body>
<div id="menu-container">
<div id="changeMenuRight" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li ><a href="#">Musk</a></li>
        <li ><a href="#">Obama</a></li>
        <li><a href="#">Trump</a></li>
    </ul>
 </div>
</div>
 	<div id="myContainerIvanIsCool">
	<form id="usrform" action="formal/transfer" method="post">
    <!input type="submit">
    </form>
    <textarea name="text" class="text-input" align = "left" cols="78" rows="10">
This is where the user can enter text. Click a speaker you want to transform your text to!
	</textarea>
    <button id="convert-button" type="submit">
      <img src="{{ url_for('static', filename='lol.png') }}"/>
    </button>
    <textarea class="text-input" align = "right" cols="78" rows="10"> {{ output }}
	</textarea>
	</div>
 <div> 
	
</div>
</body>


