<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Made2Morph </h1>
    <p> At the current moment, Made2Morph performs some basic
     grammatical checks + morphs your text into Shakespeare-akin language</p>
    <form action = 'made2morph' method = 'post'> 
        <b> Input Text for Transform: </b> <br> 
        <input type ="text" name = "transform_text"> <br>
        <b> Select Translations </b> <br>
        <input type="checkbox" name="subject" id="Shakespeare">
        <label for="Shakespeare">Shakespeare</label> <br>
        <input type="submit" value="Submit">
    </form>

    {% endblock %}
  </body>
</html>

